<% layout('layout') -%>
<table class="table">
	<thead class="thead-default">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Address</th>
		<th>Town</th>
		<th>Latitude</th>
		<th>Longitude</th>
		<th>Link</th>
	</tr>
	</thead>
	<tbody>

<% for(var i=0; i<buildings.length; i++) {%>

<tr>
	<th scope="row"><%= buildings[i].id %></th>
	<td><%= buildings[i].name %></td>
	<td><%= buildings[i].address %></td>
	<td><%=buildings[i].town%></td>
	<td><%=buildings[i].latitudede%></td>
	<td><%=buildings[i].longitude%></td>
	<td><a href="<%- '/buildings/'+ buildings[i].id %>">@</a></td>
</tr>

<% } %>
	</tbody>
</table>
<a href="/buildings/new"><button class="btn btn-primary">Add +</button></a>
